<p data-tooltip-target="<%= tooltip_id %>" class="cursor-pointer inline-block">
  <%= price %>
</p>
<div id="<%= tooltip_id %>" role="tooltip" class="absolute z-10 inline-block text-sm font-medium transition-opacity duration-400 tooltip opacity-0 invisible">
  <%= date %>
  <div class="tooltip-arrow" data-popper-arrow></div>
</div>
